name: Black Formatter
on: [push, pull_request]

permissions:
  contents: write
  pull-requests: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Check files using black
        uses: rickstaa/action-black@v1
        id: action_black
        with:
          black_args: "."
      
      - name: Create Pull Request
        if: steps.action_black.outputs.is_formatted == 'true'
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "Format Python code with Black"
          commit-message: "Format Python code with Black"
          body: "Auto-formatting Python code to conform to Black standards"
          base: ${{ github.head_ref }}
          branch: actions/black
