name: PR Size Labeler

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  label:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Label PR based on size
        uses: cbrgm/pr-size-labeler-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_repository: ${{ github.repository }}
          github_pr_number: ${{ github.event.number }}
          config_file_path: '.github/pull-request-size.yml'
